#cc-number {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 2px 3px;
  text-indent: 50px;
}

.amex{
  background-image:url('/assets/images/payment-icons/amex.png');
}
.discover{
  background-image:url('/assets/images/payment-icons/discover.png');
}
.jcb{
  background-image:url('/assets/images/payment-icons/jcb.png');
}
.maestro{
  background-image:url('/assets/images/payment-icons/maestro.png');
}
.mastercard{
  background-image:url('/assets/images/payment-icons/mastercard.png');
}

.visa{
  background-image:url('/assets/images/payment-icons/visa.png');
}








