<div class="col-md-4 col-md-offset-4">
  <form [formGroup]="paymentInfoForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">

    <h3>Payment Info</h3>
    <div class="form-group">
      <label>Card Number:</label>
      <input id="cc-number"
             type="tel"
             autocomplete="cc-number"
             class="form-control"
             formControlName="cardNumber"
             ccNumber>
      <p *ngIf="cardNumber.invalid && !cardNumber.pristine">Card Number is required.</p>
    </div>

    <div class="form-group">
      <label>Expiration Date:</label>
      <input id="cc-exp-date"
             type="tel"
             autocomplete="cc-exp"
             class="form-control"
             formControlName="expiration"
             placeholder="MM/YYYY"
             ccExp>
      <p *ngIf="expiration.invalid && !expiration.pristine">Expiration Date is required.</p>
    </div>

    <div class="form-group">
      <label>CVV:</label>
      <input id="cc-cvc" type="tel" autocomplete="off" class="form-control" formControlName="cvv" ccCVC>
      <p *ngIf="cvv.invalid && !cvv.pristine">CVV is required.</p>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!paymentInfoForm.valid">Submit</button>
    </div>
  </form>
</div>
